<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <div class="container body-content">

        <h1>@ViewBag.title</h1>

        @{
            //TODO #1: Use a loop to display job results in a table.
        }


        @foreach (Job job in ViewBag.jobs)
        {
            @*<table class="job-listing">
                <td>
                <tr>ID: @item.Id<br /></tr>
                <tr>Name: @item.Name<br /></tr>
                <tr>Employer: @item.Employer<br /></tr>
                <tr>Location: @item.Location<br /></tr>
                <tr>Position: @item.PositionType<br /></tr>
                <tr>Core Competency: @item.CoreCompetency<br /></tr>
                </td>
            </table>*@

            <table class="job-listing">
                <tr>
                    <td>Id: </td>
                    <td>@job.Id</td>
                </tr>
                <tr>
                    <td>Name: </td>
                    <td> @job.Name</td>
                </tr>
                <tr>
                    <td>Employer: </td>
                    <td>@job.Employer</td>
                </tr>
                <tr>
                    <td>Location: </td>
                    <td>@job.Location</td>
                </tr>
                <tr>
                    <td>Position Type: </td>
                    <td>@job.PositionType</td>
                </tr>
                <tr>
                    <td>Skill: </td>
                    <td>@job.CoreCompetency</td>
                </tr>
            </table>

        }



    </div>
</head>
